body {font-family: Verdana, sans-serif; margin:0;
background-color: rgba(0, 0, 0, 0.87);
}

img{
    position: absolute;
    height: 100vh;
    vertical-align: middle;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}

.hasimg{
    width:100%;
}

.myslides{
    display: none
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.prev,.next{
    cursor: pointer;/* converts cursor to pointer(hand shape) when hovered over it */
    border-radius: 20%;
    top: 50%;
    margin-top: -22px;
    position: absolute;
    color: #f2f2f2;
}

.next{
    right: 0;
}

.text {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }